nav,
article {
  padding: 48px;
}

.trigger:hover {
  cursor: pointer;
}

nav {
  width: 300px;
  height: 100%;
}

nav dd a {
  color: #202020;
}

nav dt.active,
nav dd.active a {
  color: #006ddf;
}

nav dd.active {
  border-left-color: #006ddf;
}

nav dl {
  margin-top: 0;
}
nav dt {
  margin-bottom: 8px;
  font-weight: bold;
}
nav dd {
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 4px solid #e6e6e6;
  padding-left: 20px;
  align-items: center;
  margin-left: 0px;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 24px;
  justify-content: space-around;
  left: 10px;
  padding: 0;
  position: absolute;
  top: 51px;
  width: 24px;
}

.hamburger div {
  background: gray;
  border-radius: 10px;
  height: 4px;
  position: relative;
  transform-origin: 1px;
  transition: all 0.3s linear;
  width: 24px;
}

.hamburger div:first-child {
  transform: rotate(0);
}

.hamburger div:nth-child(2) {
  opacity: 1;
}

.hamburger div:nth-child(3) {
  transform: rotate(0);
}

.hamburger.open div:first-child {
  transform: rotate(45deg);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg);
}

article.no-padding {
  padding: 0;
}

section.full-width {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .hamburger {
    display: flex;
  }
  nav {
    display: none;
  }

  nav.open {
    display: block;
    min-width: 100vw;
  }

  nav,
  article {
    padding: 0px;
  }

  nav.open {
    padding: 48px;
  }
}
nav i.icon {
  color: blue;
}