<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Documentation for Procore developers" />
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <base target="_parent">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/core.css">
  <!-- <link rel="stylesheet" href="https://core.cdn.procore.com/latest/core-css/core.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/grid.css">
</head>

<body>
<nav>
  {% for section in site.data.navigation %}
  <dl>
    <dt{% if page.section_title == section.title %} class="active" {% endif %}>{{ section.title }}</dt>
    {% for item in section.items %}
      <dd{% if page.url == item.url %} class="active" {% endif %}>
        <a href="{% if item.absolute != true %}{{ site.url }}{{ site.baseurl }}{% endif %}{{ item.url }}">
          {{ item.title }}
        </a>
      </dd>
    {% endfor %}
  </dl>
  {% endfor %}
</nav>

<article>
  <section>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <main>
      {{ content }}
    </main>
  </section>
</article>

</body>
</html>
